/* Color Variables */
:root {
  --primary: #2196f3;
  --primary-light: #bbdefb;
  --primary-dark: #1e88e5;
  --secondary: #4caf50;
  --secondary-light: #8bc34a;
  --secondary-dark: #43a047;
  --accent: #ff9800;
  --accent-light: #ffc107;
  --accent-dark: #ff5722;
  --surface: #ffffff;
  --surface-dark: #f5f5f5;
  --surface-light: #fafafa;
  --background: #242424;
  --background-dark: #1e1e1e;
  --background-light: #303030;
  --text: #212121;
  --text-inverse: #ffffff;
  --error: #f44336;
  --warning: #ffc107;
  --success: #4caf50;
  --info: #2196f3;
}

/* Example usage: background-color: var(--primary); */

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
#root {
  width: 100%;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  /* gap: 10px; */
}
.main > * {
  margin: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.general,
.education,
.experience {
  width: 500px;
}
.general > .accordion,
.education > .accordion,
.experience > .accordion {
  /* Менять цвет задника карточки тут */
  background-color: var(--background-dark);
  color: white;
}
.job > .accordion {
  background-color: var(--background-light);
  color: white;
}
.general {
  grid-column: 1/2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.education {
  grid-column: 1/2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience {
  grid-column: 1/2;
}
.experience > .job {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.outputContainer {
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  height: 50px;
  /* width: 100%; */
}
.checkboxContainer {
}
.inputNameFields {
  display: flex;
  gap: 10px;
}
.MuiInputBase-input {
  color: white !important;
}
.MuiSvgIcon-root {
  color: white !important;
}
.job-header > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.job-header > div > * {
  margin: 0;
}
.job-header > div > h4 {
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .general,
  .experience,
  .education {
    width: 100%;
    margin: 20px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
}
