body {
  display: flex;
  flex-direction: column;
}
.general {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.general > p {
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  height: 50px;
  /* width: 100%; */
}

.inputNameFields {
  display: flex;
  gap: 10px;
}
