body {
  display: flex;
  flex-direction: column;
}
#root {
  width: 100%;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  /* gap: 10px; */
}
.main > * {
  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.general > .accordion {
}
.general {
  grid-column: 1/2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.education {
  grid-column: 1/2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience {
  grid-column: 1/2;
}
.experience > .job {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.outputContainer {
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  height: 50px;
  /* width: 100%; */
}
.checkboxContainer {
}
.inputNameFields {
  display: flex;
  gap: 10px;
}
